:root {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.activeUser::before {
  background: #9ae6b4;
  border-radius: 50%;
  bottom: 5px;
  content: '';
  height: 15px;
  position: absolute;
  right: 2px;
  transition: all 0.2s ease;
  width: 15px;
}

.offlineUser::before {
  background: #bbbbbb;
  border-radius: 50%;
  bottom: 5px;
  content: '';
  height: 15px;
  position: absolute;
  right: 2px;
  transition: all 0.2s ease;
  width: 15px;
}
