body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.btnList {
  display: flex;
  gap: 1rem;
}

.btn {
  background: rgba(230, 230, 230, 1);
  border-radius: 15px;
  border: 1px solid transparent;
  display: inline-block;
  opacity: 0.8;
  padding: 0.5rem 1rem;
  user-select: none;
  cursor: pointer;
}

.btn:hover {
  background: rgba(245, 245, 245, 1);
  border: 1px solid rgba(20, 20, 20, 0.9);
  opacity: 1;
  transition: 0.2s ease;
}

.btn:focus-visible {
  background: rgba(245, 245, 245, 1);
  border: 1px solid rgba(20, 20, 20, 0.9);
  opacity: 1;
}

.disable {
  opacity: 0.3;
  cursor: not-allowed;
}

.disable:focus-visible {
  opacity: 0.4;
  border: 1px solid transparent;
}

.disable:hover {
  opacity: 0.4;
  border: 1px solid transparent;
}
